.main-menu-container{
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    font-size: 10vw;
    background-color: rgb(23, 23, 23);
    overflow: scroll;
}

.main-menu-sub-menu-container{
    border: solid 1px rgb(0, 128, 43);
    height: 80%;
    width: 98%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.sub-menu-container{
    border: solid 1px blue;
    width: 40%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* margin-right: 40px; */
    cursor: pointer;
    font-size:7.5vw;
    background-image: url("./assets/sushi.jpeg");
    background-size: cover;
    /* background-position: 30%; */
    color: rgb(0, 255, 55);
}

.sub-menu-container:active{
    transform: scale(.95);
}
.main-menu-header{
    width:100%;
    height: 20%;
    border: solid 1px pink;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* margin-top: 1.8%; */
    padding-top: 1.8%

}
.main-menu-banner{
    height: 100%;
    width: 95%;

}
.menu-food-item{
    height: 90%;
    width: 90%;
}
