.main-menu-container{
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 10vw;
}

.main-menu-sub-menu-container{
    border: solid 1px green;
    height: 80%;
    width: 60%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.sub-menu-container{
    border: solid 1px blue;
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 40px; */
    cursor: pointer;
    font-size:3.5vw;
}

.sub-menu-container:active{
    transform: scale(.95);
}
